{{define "main"}}

<section class="section pb-0 pt-6" id="process">
    <div class="container">
        <h2>{{ .Title }}</h2>
        <div class="row">
            <div class="col">
                {{ .Content }}
            </div>
        </div>
    </div>
</section>


<section id="examples" class="section p-1">
    <div class="container">
        <h2><i class="fa fa-camera-retro heading-icon" aria-hidden="true"></i> Images</h2>
        <div class="row">
            {{ range .Params.images }}
            <div class="col-md-4">
                <div class="box show" style="transition-delay: 0s;">
                    <div class="inner">
                        <a href="{{delimit (slice "images/products/large/" .src ) ""
                        | relURL }}" class="glightbox">
                        <img src="{{delimit (slice "images/products/small/" .src ) ""
                        | relURL }}" alt="image" class="img-thumbnail">
                        </a>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</section>

{{end}}